
  <script src="home.component.ts"></script>
  <app-carousel></app-carousel>
  <br>
<!--  <div *ngIf="show">-->
  <div *ngIf="show" class="d-lg-none">

    <h3 style="text-align: center">Continue Watching</h3>
    <ngb-carousel #carousel3 [interval]="5000" [pauseOnHover]="true" [pauseOnFocus]="true"
                  [showNavigationIndicators]="false" class="carousel1">
      <ng-template ngbSlide *ngFor="let item of items_mobile; index as i">

        <div class="row justify-content-center">
          <div class="card" style="width: 200px">
            <!--    <a routerLink="/detail/{{ids_mobile[i]}}&{{this.category}}">-->
            <a (click)="jump(item['id'],item['category'], item['img'])">
              <div class="picsum-img-wrapper">
                <img [src]="item['img']" alt="" class="image">
              </div>
            </a>
          </div></div>

      </ng-template>
    </ngb-carousel>
  </div>

  <div *ngIf="show"  class="d-none d-md-block">

    <div  class="container" style="margin-bottom: 30px;"><h3>Continue Watching</h3></div>
    <ngb-carousel #carousel4 [interval]="5000" class="carousel2"  [pauseOnHover]="true" [pauseOnFocus]="true"
                  [showNavigationIndicators]="true">

      <ng-template  ngbSlide *ngFor="let id of ids; index as i">
        <div class="container">
          <div class="row">
            <div *ngFor="let singleId of id; index as j" class="col-2">

              <a (click)="jump(singleId,categories[i][j], imgs[i][j])">
                <div class="picsum-img-wrapper">
                  <img [src]="imgs[i][j]" alt="" class="image">

                </div>
              </a>

            </div>
          </div>
        </div>
      </ng-template>

    </ngb-carousel>
  </div>
<!--  </div>-->


  <app-multi-carousel [category]="movie" [direction]="popular_movies" [title] = "title1"></app-multi-carousel>

  <app-multi-carousel [category]="movie" [direction]="top_rated_movies" [title] = "title2"></app-multi-carousel>

  <app-multi-carousel [category]="movie" [direction]="trending_movies" [title] = "title3"></app-multi-carousel>

  <app-multi-carousel [category]="tv" [direction]="popular_tv" [title] = "title4"></app-multi-carousel>

  <app-multi-carousel [category]="tv" [direction]="top_rated_tv" [title] = "title5"></app-multi-carousel>

  <app-multi-carousel [category]="tv" [direction]="trending_tv" [title] = "title6"></app-multi-carousel>

