.container{
  margin-top: 10px;

  color: white;
}


ngb-carousel {

  /*max-height: 400px;*/
  text-align: center;
  /*overflow: hidden;*/
  /* margin-top: 350px; */
  outline: none;
  border-color: transparent;
  box-shadow:none;
  margin-bottom: 5%;
}




.row{
  max-height: 300px;
}
/*.myrow_1{*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  margin-right: -15px;*/
/*  margin-left: -15px;*/
/*  max-height: 300px;*/
/*}*/

.picsum-img-wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.picsum-img-wrapper{
  text-align: center;
  height: 100%;
}
a.carousel-control-prev, .carousel-control-next{
  width: 5%;
}
.image {
  width: 100%;
  /*height: 100%;*/
  /*text-align: center;*/
}


h3{
  color: white;
}
